body
{
    text-align: center;
}

ul
{
    list-style-type: none;
}

#all_btn
{
    width: 150px;
    height: 30px;
    margin-right: 150px;
}

#id_input
{
    width: 50px;
    height: 30px;
}

#search
{
    width: 50px;
    height: 30px;
}

.container
{
    margin: auto;
}

